/* setting colour variable  */
:root {
    --primary-color:#B5B1B2;
    --secondary-color: #ADA9B7;
    --font-color: #A1CDF4;
    --bg-color: #A9AFD1;
    --heading-color:#A1CDF4;
  }
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
  }

/*  setting text colour (needs refactoring) */
.display-4 {
font-family: 'Bungee', cursive;
}
.lead {
font-family: 'Bungee', cursive;
}
#navtext {
font-family: 'Bungee', cursive;
}

/* Adding background image to jumbotron */
.jumbotron {
    background: url('https://images.unsplash.com/photo-1614849286447-fb815456e5a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
 }

.poster {
  border: 5px;
}

.search-input {
    text-align: center;
}

.movie-body {

  background-color: black;
  
}
#poster-img {
  height: 10px;
  width: 40px;
  
}

.movie-textdata {
  margin: 40px;
  /* padding-right: 15px !important; */
}

/* /* footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: darkblue;
} */
/* footer section styling */

/* .footer-section {
  background-color: aquamarine;
} */ 

/* footer section styling */

footer {
  width: 100%;
  background: linear-gradient(to right,#00093c, #2d0b00);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  
  bottom: 0;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a{
  text-decoration: none;
  color: #fff;
}

form {
  padding-bottom: 15px;

  align-items: center;

  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}

form .far{
  font-size: 18px;
  margin-right: 10px;
}

.social-icons .fab{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;

}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1 px solid #ccc;
  margin: 20px auto;
  
}
.copyright {
  text-align: center;
}