/* setting colour variable  */
:root {
  --primary: #eec1de;
  --secondary: #f4ea92;
  --thirdary: #b5cbbf;
  --black: #0a0908;
  --white: #f2f4f3;
}

body {
  background-color: var(--secondary);
  color: var(--black);
}

h1,
h2,
h3 {
  font-family: "Bungee", cursive;
}

* {
  font-family: Helvetica, sans-serif;
}

a {
  color: var(--black);
}

/* Adding background image to jumbotron */
.jumbotron {
  background: url("https://images.unsplash.com/photo-1614849286447-fb815456e5a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  border: none;
}

.poster {
  border: 5px;
}

.search-input {
  text-align: center;
}

.movie-body {
  background: var(--secondary);
}

#movie-genre {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: smaller;
  margin-bottom: 0px;
}

#star-icon {
  max-width: 16px;
  margin-right: 5px;
  margin-top: -15px;
}

hr {
  border: 1px solid var(--primary);
}
#poster-img {
  width: inherit;
}

#poster-img:hover {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s ease-in-out;
}
.rating {
  margin-left: 15px;
}

.btn-primary {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--black);
  border: none;
}

.btn-primary:hover {
  background-color: var(--thirdary);
  border: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:focus {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-secondary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--black);
  border: none;
  margin-bottom: 15px;
}

.btn-secondary:hover {
  background-color: var(--thirdary);
  border: none;
}

.all-details {
  /* padding: 20px; */
}

.top-details {
  background-color: var(--thirdary);
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

.bottom-section-details {
  /* background-color: var(--primary); */
  border: 2px solid var(--thirdary);
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

div#film-details {
  margin-bottom: -1rem;
}

/* submit button */
#submit-btn {
  margin-bottom: 5px;
  width: 10vw;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--thirdary);
}

/* #prev-search-blocks {
  background-color: var(--primary);
  color: var(--primary-light);
} */

/* search bar */
#user-input {
  /* background-color: #a1cdf4b7; */
  width: 40vw;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid var(--black);
}
/* movie grid style */
#prev-search-blocks {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/* Adding style to Footer section */
footer {
  position: relative;
  bottom: 0;
}

.footer-distributed {
  width: 100%;
  /* background: linear-gradient(to right, #00093c, #2d0b00); */
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary),
    var(--thirdary)
  );
  color: var(--black);

  border-top-left-radius: 125px;
  font-size: 13px;

  padding: 50px 50px 60px 50px;
  margin-top: 80px;
  text-align: left;
}
/* .footer-distributed .col-left {
  width: 30%;
  text-align: left;
}

.footer-distributed .col-center {
  width: 35%;
  text-align: center;
}
.footer-distributed .col-right {
  width: 30%;
} */

form {
  padding-bottom: 15px;
  align-items: center;
  margin-bottom: 50px;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

footer .social-icons {
  display: flex;
}
footer .social-icons li a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;

  background: var(--white);
  margin-right: 15px;
  cursor: pointer;
  display: inline-block;

  flex-wrap: wrap;
  transition: 0.5s;
}
footer .social-icons li {
  list-style: none;
}
/* Hover effect on social icons */
footer .social-icons a:hover {
  transform: translateY(-10px);
}

.copyright {
  text-align: left;
}

.display-4 {
  color: var(--black);
}

/* iframe */

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* First load view */
.loading-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    110deg,
    var(--primary),
    var(--secondary),
    var(--thirdary),
    var(--secondary)
  );
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-container {
  display: none;
}

#loading-user-input {
  /* background-color: #a1cdf4b7; */
  width: 40vw;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0);
  border: 2px solid var(--black);
}

#loading-submit-btn {
  margin-bottom: 5px;
  width: 10vw;
  height: 60px;
  border-radius: 10px;
  align-items: center;
  background-color: var(--secondary);
  color: var(--black);
}

.loading-container h1 {
  font-size: 10rem;
}
